@model User;

@{
    ViewData["Title"] = "Edit";
}

<div class="login-box" style="margin-left: 45%; margin-top: 10%">
    <div class="login-logo">
        <a asp-area="" asp-controller="Task" asp-action="Index"><b>Kan</b>ban</a>
    </div>
    <div class="card">
        <div class="card-body login-card-body" style="">
            <p class="login-box-msg">Редактирай този акаунт</p>

            <form asp-area="Admin" asp-controller="Administration" asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="input-group mb-3">
                    <input asp-for="FirstName" autocomplete="username" type="text" class="form-control" placeholder="First Name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>

                </div>
                <span asp-validation-for="FirstName" class="text-danger mb-xl-5"></span>
                <div class="input-group mb-3">
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="Email" type="text" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>


                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary m-auto">Редактирай</button>
                </div>
            </form>
        </div>
    </div>
</div>
