@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="~/css/adminlte/adminlte.min.css">
<link rel="stylesheet" href="~/css/Ekko/ekko-lightbox.css">
<link rel="stylesheet" href="~/css/overlayScrollbars/OverlayScrollbars.min.css">

<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a asp-area="" asp-controller="Task" asp-action="Index"><b>Kan</b>ban</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Регистрирай се!</p>

                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="input-group mb-3">
                        <input asp-for="Input.CustomUsername" type="text" class="form-control" placeholder="Потребителско име">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.CustomUsername" class="text-danger" style="margin-bottom: 10px"></span>

                    <div class="input-group mb-3">
                        <input asp-for="Input.FirstName" type="text" class="form-control" placeholder="Име">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>


                    <div class="input-group mb-3">
                        <input asp-for="Input.LastName" type="text" class="form-control" placeholder="Фамилия">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>


                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" type="email" class="form-control" placeholder="Имейл">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Парола">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>


                    <div class="input-group mb-3">
                        <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Повтори паролата">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>


                    <div>
                        <button type="submit" class="btn btn-primary btn-block" style="margin: 0 auto">Регистрирай се</button>
                    </div>
                </form>

                <a asp-page="Login" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Вече имате акаунт?</a>
            </div>
        </div>
    </div>
    <script src="~/js/jquery/jquery.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte/adminlte.min.js"></script>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
